<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }} - Products</title>
</head>
<body>
    <h1>{{ category.name }}</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                    {{ product.name }} - ${{ product.price }} - {{ product.memory }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
>